@import 'tailwindcss';
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
    --breakpoint-xs: 480px;
    --text-10xl: '10rem';
    --text-11xl: '12rem';
    --text-12xl: '14rem';
}

.travel-stats__country-list {
    @apply grid gap-x-4 gap-y-8;

    @apply grid-cols-[repeat(auto-fit,minmax(100px,1fr))];
    @apply md:grid-cols-[repeat(auto-fit,minmax(150px,1fr))];
    @apply pb-6;

    & > li:nth-child(n + 7) {
        @apply hidden xs:inline-block;
    }

    & > li:nth-child(n + 9) {
        @apply hidden sm:inline-block;
    }

    & > li:nth-child(n + 11) {
        @apply hidden md:inline-block;
    }

    & + button {
        @apply md:hidden;
    }
}
.travel-stats__country-list--expanded {
    & > li:nth-child(n + 7) {
        @apply inline-block;
    }
}

/* Region Background Image Position */
.travel-stats__eu-bg {
    @apply h-[350px] md:h-[500px]
        bg-[right_-3.5rem_top_-3rem]
        xs:bg-[right_0rem_center];

    & > div {
        @apply top-[20%] sm:top-[2.5%] md:top-[12.5%]
            left-[5%] xs:left-[12%] sm:left-[7.5%] md:left-[5%];
    }
}

.travel-stats__asia-bg {
    @apply mt-16
        h-[325px] xs:h-[325px] md:h-[500px]
        bg-[left_-9rem_center] xs:bg-[left_-4.5rem_center];
    & > div {
        @apply text-right
            top-[30%] sm:top-[2.5%] md:top-[12.5%]
            right-[5%] xs:right-[12%] sm:right-[7.5%] md:right-[5%];
    }
}

.travel-stats__central-north-america-bg {
    @apply mt-4
        h-[300px] xs:h-[350px] md:h-[500px]
        bg-[right_-14rem_center] xs:bg-[right_-8rem_center];
    & > div {
        @apply top-[30%] sm:top-[20%] md:top-[30%]
            left-[5%] xs:left-[12%] sm:left-[7.5%] md:left-[5%];
    }
}

.travel-stats__africa-bg {
    @apply mt-10
        h-[375px] xs:h-[425px] md:h-[500px]
        bg-[left_-6rem_center] xs:bg-[left_-2rem_center];
    & > div {
        @apply text-right
            top-[30%] sm:top-[2.5%] md:top-[12.5%]
            right-[5%] xs:right-[12%] sm:right-[7.5%] md:right-[5%];
    }
}

/* Mask Image with Transparent Radial Gradiant */
.travel-stats__eu-bg,
.travel-stats__central-north-america-bg {
    mask-image: radial-gradient(
        circle at left,
        rgba(255, 255, 255, 1) 62.5%,
        rgba(255, 255, 255, 0) 95%
    );
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: left;
}

.travel-stats__asia-bg,
.travel-stats__africa-bg {
    mask-image: radial-gradient(
        circle at right,
        rgba(255, 255, 255, 1) 62.5%,
        rgba(255, 255, 255, 0) 95%
    );
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: right;
}
