@import 'tailwindcss';
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
    --breakpoint-xs: 480px;
    --text-10xl: '10rem';
    --text-11xl: '12rem';
    --text-12xl: '14rem';
}

.travel-stats__country-flag-list {
    @apply inline-grid gap-x-3.5 gap-y-2.5
        grid-cols-3
        xs:grid-cols-5
        sm:grid-cols-[repeat(auto-fill,minmax(24px,1fr))]
        md:grid-cols-[repeat(auto-fill,minmax(32px,1fr))]
        lg:grid-cols-[repeat(auto-fill,minmax(40px,1fr))];

    & > li:nth-child(n + 4) {
        @apply hidden xs:block;
    }

    & > li:nth-child(n + 6) {
        @apply hidden sm:block;
    }
}

/**
 *  Not sure the reason why we have to separate this part out of the region
 *  background wrapper in order to fix style consistancy explicity
 */
.travel-stats__bg {
    @apply bg-cover xs:bg-contain;
}

/* Region Background Image Position */
.travel-stats__eu-bg {
    @apply h-[350px] md:h-[500px] lg:h-[700px]
        bg-[right_-3.5rem_top_-3rem]
        xs:bg-[right_0rem_center];
    & > div {
        @apply top-[20%] sm:top-[2.5%] md:top-[12.5%]
            left-[5%] xs:left-[12%] sm:left-[7.5%] md:left-[5%];
    }
}

.travel-stats__asia-bg {
    @apply mt-16
        h-[325px] xs:h-[325px] md:h-[500px] lg:h-[650px]
        bg-[left_-9rem_center] xs:bg-[left_-6em_center] lg:bg-[left_-4rem_center];
    & > div {
        @apply text-right
            top-[30%] sm:top-[2.5%] md:top-[12.5%]
            right-[5%] xs:right-[12%] sm:right-[7.5%] md:right-[5%];
    }
}

.travel-stats__central-north-america-bg {
    @apply mt-4
        h-[300px] xs:h-[350px] md:h-[500px] lg:h-[700px]
        bg-[right_-14rem_center] xs:bg-[right_-12rem_center];
    & > div {
        @apply top-[30%] sm:top-[20%] md:top-[30%]
            left-[5%] xs:left-[12%] sm:left-[7.5%] md:left-[5%];
    }
}

.travel-stats__africa-bg {
    @apply mt-10
        h-[375px] xs:h-[425px] md:h-[500px] lg:h-[750px]
        bg-[left_-6rem_center] xs:bg-[left_-2rem_center];
    & > div {
        @apply text-right
            top-[30%] sm:top-[2.5%] md:top-[12.5%]
            right-[5%] xs:right-[12%] sm:right-[7.5%] md:right-[5%];
    }
}

/* Mask Image with Transparent Radial Gradiant */
.travel-stats__eu-bg,
.travel-stats__central-north-america-bg {
    mask-image: radial-gradient(
        circle at left,
        rgba(255, 255, 255, 1) 62.5%,
        rgba(255, 255, 255, 0) 95%
    );
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: left;
}

.travel-stats__asia-bg,
.travel-stats__africa-bg {
    mask-image: radial-gradient(
        circle at right,
        rgba(255, 255, 255, 1) 62.5%,
        rgba(255, 255, 255, 0) 95%
    );
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: right;
}
